@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 54 18% 94%;
    --foreground: 317 11% 17%;

    --card: 54 18% 94%;
    --card-foreground: 317 11% 17%;

    --popover: 54 18% 94%;
    --popover-foreground: 317 11% 17%;

    --primary: 317 4% 28%;
    --primary-foreground: 54 18% 94%;

    --secondary: 41 16% 87%;
    --secondary-foreground: 317 11% 17%;

    --muted: 41 16% 87%;
    --muted-foreground: 317 8% 32%;

    --accent: 41 16% 87%;
    --accent-foreground: 317 11% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 54 18% 94%;

    --border: 41 16% 87%;
    --input: 41 16% 87%;
    --ring: 317 4% 28%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 317 11% 17%;
    --foreground: 54 18% 94%;

    --card: 317 4% 28%;
    --card-foreground: 54 18% 94%;

    --popover: 317 4% 28%;
    --popover-foreground: 54 18% 94%;

    --primary: 317 8% 32%;
    --primary-foreground: 54 18% 94%;

    --secondary: 317 4% 28%;
    --secondary-foreground: 54 18% 94%;

    --muted: 317 4% 28%;
    --muted-foreground: 41 16% 87%;

    --accent: 317 4% 28%;
    --accent-foreground: 54 18% 94%;

    --destructive: 0 75% 55%;
    --destructive-foreground: 54 18% 94%;

    --border: 317 4% 28%;
    --input: 317 4% 28%;
    --ring: 317 8% 32%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
